.DS_Store
# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
search_file_text/search

# Precompiled Headers
*.gch
*.pch

# Generated source files
Makefile.in

# Generated documentation files
doc/html/
doc/latex/

# Generated test files
test/*.o
test/*.obj

# Generated coverage files
coverage/

search_file_text/